[Unit]
Description=Telegram Utility Bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/utilitybot
ExecStart=/root/utilitybot/venv/bin/python bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
